# Phonepe Pulse Data Visualization and Exploration:

## Data Migration

In [ ]:
# pip install mysql-connector-python

In [1]:
# Importing Libraries:
import pandas as pd
import mysql.connector as sql
import os

In [9]:
df_agg_trans = pd.read_csv(r"C:\Users\tinku\Downloads\agg_trans.csv")
df_agg_user = pd.read_csv(r"C:\Users\tinku\Downloads\agg_user.csv")
df_map_trans = pd.read_csv(r"C:\Users\tinku\Downloads\map_trans.csv")
df_map_user = pd.read_csv(r"C:\Users\tinku\Downloads\map_user.csv")
df_top_trans = pd.read_csv(r"C:\Users\tinku\Downloads\top_trans.csv") 
df_top_user = pd.read_csv(r"C:\Users\tinku\Downloads\top_user.csv")

In [2]:
def init_connection(host, user, password, database):
    try:
        mydb = sql.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )
        mycursor = mydb.cursor(buffered=True)
        return mydb, mycursor
    except sql.Error as e:
        print("Error while connecting to MySQL:", e)
        return None, None

# MySQL connection details
host = "localhost"
user = "root"
password = "tinku.2499"
database = "phonepe_pulse"

# Initialize MySQL connection and cursor
mydb, cur = init_connection(host, user, password, database)

# Check if the connection and cursor are successfully initialized
if mydb and cur:
    print("MySQL connection and cursor successfully initialized.")
    # Now you can use mydb and mycursor for executing queries
else:
    print("MySQL connection and cursor initialization failed.")

MySQL connection and cursor successfully initialized.

In [6]:
# cur.execute("CREATE DATABASE phonepe_pulse")

In [8]:
cur.execute("create table agg_trans (State varchar(100), Year int, Quarter int, Transaction_type varchar(100), Transaction_count int, Transaction_amount double)")

for i,row in df_agg_trans.iterrows():
    sql = "INSERT INTO agg_trans VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    mydb.commit()

In [11]:
cur.execute("create table agg_user (State varchar(100), Year int, Quarter int, Brands varchar(100), Count int, Percentage double)")

for i,row in df_agg_user.iterrows():
    sql = "INSERT INTO agg_user VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    mydb.commit()

In [12]:
cur.execute("create table map_trans (State varchar(100), Year int, Quarter int, District varchar(100), Count int, Amount double)")

for i,row in df_map_trans.iterrows():
    sql = "INSERT INTO map_trans VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    mydb.commit()

In [13]:
cur.execute("create table map_user (State varchar(100), Year int, Quarter int, District varchar(100), Registered_user int, App_opens int)")

for i,row in df_map_user.iterrows():
    sql = "INSERT INTO map_user VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    mydb.commit()

In [ ]:
cur.execute("create table top_trans (State varchar(100), Year int, Quarter int, Pincode int, Transaction_count int, Transaction_amount double)")

for i,row in df_top_trans.iterrows():
    sql = "INSERT INTO top_trans VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    mydb.commit()

In [15]:
cur.execute("create table top_user (State varchar(100), Year int, Quarter int, Pincode int, Registered_users int)")

for i,row in df_top_user.iterrows():
    sql = "INSERT INTO top_user VALUES (%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple(row))
    mydb.commit()